# dependencies
node_modules/

# editor
.vscode/

# misc
build/
dist/
tmp/
temp/
.DS_Store
.env
coverage
# ormconfig.json
# jest.config.json

yarn-debug.log*
yarn-error.log*
yarn.lock

tmp/*
!tmp/.gitkeep
